$blue: #0f5ca3;
$green: #1abc9c;
$white: #fff;
$black: #000;
$gray: rgb(241, 241, 241);
$muted: #666;
$muted-light: #dfdfdf;
.bucket {
    padding: 20px;
    color: $black;
    background-color: $gray;
    border-color: rgb(200, 200, 200);
    border-radius: 4px;
    
    .bucket-header {

        .bucket-name {
            font-size: 24pt;
            font-weight: 400;
            color: rgb(41, 122, 197);
            display: block;
        }
        .bucket-description {
            font-size: 16px;
        }
    }
    .bucket-actions {
            float: right;
        }
    .bucket-mini-status {
        font-size: 10pt;
    }
    .workflows {
        margin-top: 20px;
    }
}