<div class="bucket" [ngClass]="{'bucket-archived': bucket?.archived}">
    <div class="bucket-actions">
        <span class="link">
            <i class="fas fa-cog"></i>
        </span>

        <span class="link">
            <i class="fas fa-ellipsis-v"></i>
        </span>
    </div>
    <div class="bucket-header">
        <span class="bucket-name link" (click)="expand()">{{bucket?.name}}</span>
        <span class="bucket-description" q4Jira q4Zendesk [textWithId]="bucket?.description"></span>
    </div>
    <div class="groups" *ngIf="expanded">
        <q4-group [group]="group" *ngFor="let group of groups; trackBy: trackByGroupId"></q4-group>
    </div>
</div>