<div class="bucket" [ngClass]="{'bucket-archived': bucket?.archived}">
    <div class="bucket-header">
        <span class="bucket-name link" (click)="expand()">{{bucket?.name}}</span>
        <div class="bucket-actions">
            <span class="link" (click)="refresh()" *ngIf="workflowsLoaded && expanded">Refresh</span>
            <span class="link">Full Details ></span>
        </div>
    </div>
    <div class="bucket-mini-status" *ngIf="bucket?.archived">Archived</div>

    <p-table [value]="workflows" *ngIf="expanded">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Status</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-workflow>
            <tr>
                <td>{{workflow.name}}</td>
                <td>{{workflow.type}}</td>
                <td>{{workflow.status}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>