.group {
    margin-bottom: 10px;
    background-color: rgb(41, 122, 197);
    border-radius: 4px;
    font-size: 20px;
    color: #fff;
    padding: 10px 20px;
    .group-header {
        display: flex;
        align-items: center;
        height: 60px;
        .group-details {
            flex-grow: 2;
            .group-description {
                font-size: 14px;
            }
        }
        .group-content-count {
            font-size: 14px;
        }
    }
    &.ungrouped {
        background-color: rgb(42, 48, 53);
    }
}