<div class="group" [ngClass]="{'ungrouped': group?.ungrouped}">
    <div class="group-header" (click)="expand()">
        <div class="group-status"></div>
        <div class="group-details">
            <div class="group-name link">{{group?.name}}</div>
            <div class="group-description" q4Zendesk q4Jira [textWithId]="group?.description" [darkBackground]="true"></div>
        </div>
        <div class="group-content-count">{{group?.workflows.length}} {{group?.workflows.length > 1 ? 'items': 'item'}}</div>
        <div class="group-expanded-status">
            <i class="fas" [ngClass]="{'fa-angle-up': expanded, 'fa-angle-down': !expanded}"></i>
        </div>
    </div>
    <div class="group-content" *ngIf="expanded">
       <q4-workflows [workflows]="group?.workflows"></q4-workflows>
    </div>
</div>