<div class="buckets">
    <div class="bucket-filter">
        <p-dropdown [options]="bucketFilterSelections" [(ngModel)]="selectedBucketFilter" (onChange)="filterBuckets($event)" [dropdownIcon]="'fas fa-angle-down'" [style]="{'width':'400px'}" [scrollHeight]="'400px'"></p-dropdown>
    </div>
    <div class="bucket">
        <q4-bucket [bucket]="featuredBucket"></q4-bucket>
        <q4-bucket [bucket]="bucketModel" *ngFor="let bucketModel of otherBucketModels; trackBy: trackByBucketId;"></q4-bucket>
    </div>
</div>

<p-dialog [(visible)]="dialogVisible" [modal]="true" [header]="dialogHeader">
    <q4-workflows-update [workflows]="stagedWorkflows" [workflowAction]="workflowAction" (errored)="onErrored($event)" (completed)="onCompleted($event)" (canceled)="onCanceled($event)"></q4-workflows-update>
</p-dialog>