.workflow-header {
    height: 50px;
    background-color: rgb(52, 152, 219);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header-item {
        flex-grow: 2;
    }
}