<mat-accordion [displayMode]="'default'">
    <mat-expansion-panel class="fill-remaining-space" hideToggle="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{bucket?.name}}
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
            <mat-list>
                <mat-list-item *ngFor="let workflowId of workflowIds$ | async">
                    <q4-workflow [workflowId]="workflowId"></q4-workflow>
                </mat-list-item>
            </mat-list>
        </ng-template>
        <mat-action-row>
            <button mat-button color="primary" (click)="submit()">Submit</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>