$blue: #0f5ca3;
$green: #1abc9c;
$white: #fff;
.bucket {
    padding: 10px;
    color: $white;
    background-color: $blue;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);
    &.bucket-archived {
        background-color: $green;
    }
    .bucket-header {
        font-size: 24pt;
    }
}