<!-- <mat-accordion [displayMode]="'default'">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{bucket?.name}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
            <mat-list>
                <mat-list-item *ngFor="let workflow of workflows$ | async">
                    <q4-workflow [workflow]="workflow"></q4-workflow>
                </mat-list-item>
            </mat-list>
        </ng-template>
        <mat-action-row>
            <button mat-button color="primary" (click)="submit()">Submit</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion> -->

<mat-card (click)="expand()">{{bucket?.name}}</mat-card>
<div *ngIf="expanded">
    <mat-list *ngIf="workflows">
        <mat-list-item *ngFor="let workflow of workflows">
            <mat-icon matListIcon>folder</mat-icon>
            <q4-workflow [workflow]="workflow"></q4-workflow>
        </mat-list-item>
    </mat-list>
</div>