* {
    text-rendering: optimizeLegibility;
}

html,
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.link {
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
}