$q4-command-backgroud: rgb(241, 175, 15);
$q4-command-border: rgb(220, 158, 39);
$fontFamily: "Open Sans",
sans-serif;
$fontSize: 1em;
$borderRadius: 3px;
$disabledOpacity: 0.35;
//Header
$headerBorderWidth: 1px;
$headerBorderColor: #d9d9d9;
$headerBgColor: #f6f7f9;
$headerTextColor: #1b1d1f;
$headerFontWeight: normal;
$headerIconTextColor: #1b1d1f;
//Content
$contentBorderWidth: 1px;
$contentBorderColor: #D5D5D5;
$contentBgColor: #ffffff;
$contentTextColor: #222222;
//Default State
$stateDefaultBorderWidth: 1px;
$stateDefaultBorderColor: #d6d6d6;
$stateDefaultBgColor: #ffffff;
$stateDefaultTextColor: #555555;
//Active State
$stateActiveBorderColor: #bebebe;
$stateActiveBgColor: #d6d6d6;
$stateActiveTextColor: #212121;
//Highlight State
$stateHighlightBorderColor: #156090;
$stateHighlightBgColor: #186ba0;
$stateHighlightTextColor: #FFFFFF;
//Focus State
$stateFocusBorderColor: #c0c0c0;
$stateFocusBgColor: #eeeeee;
$stateFocusTextColor: #212121;
//Error State
$stateErrorBorderColor: #f44336;
$stateErrorBgColor: #f5554a;
$stateErrorTextColor: #cd0a0a;
//Hover State
$stateHoverBorderColor: #c0c0c0;
$stateHoverBgColor: #eeeeee;
$stateHoverTextColor: #212121;
//Forms
$inputBgColor: #ffffff;
$inputTextColor: #222222;
$invalidInputBorderColor: #f44336;
$inputGroupTextColor: #222222;
@import "primeng/resources/themes/theme";
.ui-widget-content {
    background: $q4-command-backgroud;
    border-color: $q4-command-border;
}

.ui-menu .ui-menuitem-link {
    height: 50px;
    font-weight: 300;
    border-color: $q4-command-border;
    border-bottom: 1px;
    &:hover {
        background: inherit;
    }
}

@mixin primary-colors {
    background-color: #256CAE;
    border-color: #256CAE;
    color: #FFF;
}

.ui-dropdown {
    font-weight: 300;
    .ui-dropdown-label {
        height: 44px;
        display: flex!important;
        align-items: center;
        @include primary-colors;
        padding-left: 15px;
    }
    .ui-dropdown-trigger {
        display: flex;
        align-items: center;
        font-size: 20px;
        @include primary-colors;
        border: none;
        padding-right: 10px;
    }
    .ui-dropdown-panel {
        background-color: #256CAE;
        border: 0;
        margin-top: -2px;
        border-radius: 0;
        .ui-dropdown-items-wrapper {
            .ui-dropdown-items {
                padding: 0;
                @include primary-colors;
                .ui-dropdown-item {
                    border: 0 none;
                    cursor: pointer;
                    padding: 0 20px;
                    height: 45px;
                    display: flex;
                    align-items: center;
                    border-top: 1px solid #165DA1;
                    &:hover {
                        background-color: #165DA1;
                        color: inherit;
                    }
                }
            }
        }
    }
}

.ui-overlaypanel {
    background-color: rgb(31,35,39);
    border-color: rgb(31,35,39);
    border-radius: 3px;
    color: #fff;
    padding: 40px;
    width: 400px;
}